.org-info-container {
  margin: 3%;
  background: var(--background);
  border-radius: 5px;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.1));
  overflow: hidden;
}

.org-info-logo-container {
  height: 128px;
  padding: 5% 10%;
}

.org-info-logo {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.org-info-site-container {
  padding-top: 2%;
  text-align: center;
}

.org-info-description-container {
  text-align: center;
  justify-content: center;
  padding: 2% 3%;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

.org-info-divider {
  width: 80%;
}

.org-info-category-container {
  text-align: center;
}

.org-info-category-container span {
  display: inline-block;
  width: inherit;
  padding: 1%;
  background-color: #db6400;
  color: #ffffff;
  border-radius: 5px;
  font-family: "Galano Grotesque Alt Medium";
}

.org-info-years-container {
  text-align: center;
}

.org-info-year {
  display: inline-block;
  margin-left: 1%;
  padding: 1%;
  background-color: #16697a;
  color: white;
  border-radius: 2px;
  font-family: "Galano Grotesque Alt Medium";
}

.org-info-technologies-container {
  text-align: center;
}

.org-info-technology {
  display: inline-block;
  margin: 1%;
  padding: 1%;
  border: 1px solid #db6400;
  color: #db6400;
  border-radius: 2px;
  font-family: "Galano Grotesque Alt Medium";
}

.org-info-topics-container {
  text-align: center;
  padding-bottom: 2%;
}

.org-info-topic {
  display: inline-block;
  margin: 1%;
  padding: 1%;
  border: 1px solid #16697a;
  color: #16697a;
  border-radius: 2px;
  font-family: "Galano Grotesque Alt Medium";
}
