.project-card-main-container {
  height: 100%;
}

.project-card-main-container > .card {
  height: 100%;
  margin: 0px auto;
  width: 100%;
}

.project-card-link {
  margin: 1%;
  display: block;
  width: 100%;
}

.proposal-btn {
  width: 100%;
}

.proposal-btn-container {
  margin-top: 5px;
}

.project-card-btn {
  width: 100%;
  height: 100%;
}
