.sidebar-sidebar {
  z-index: 20;
  height: 100%;
  position: fixed;
  transition-property: transform;
  overflow: hidden;
  border-radius: 20px;
  padding: 2rem;
}

.sidebar-div {
  height: 100%;
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  background-color: white;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.sidebar-content-clear-filters {
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: auto;
}

.sidebar-content-filters {
  height: 100%;
  overflow: auto;
}

.sidebar-logo-description {
  padding-top: 10px;
  justify-content: center;
  text-align: center;
}

.sidebar-description {
  font-family: "Galano Grotesque Alt Medium";
  font-size: 18px;
  color: #db6400;
  padding: 1rem 0;
}

.sidebar-footer {
  text-align: center;
  margin-top: auto;
  padding-bottom: 15px;
}

.sidebar-divider {
  width: 100%;
  color: rgb(228, 228, 231);
}

.sidebar-footer-icon {
  color: #db6400;
}

.sidebar-footer-icon-link {
  margin: 0px !important;
}

.sidebar-footer-text-container {
  margin-top: 5px;
}

.sidebar-footer-text {
  font-family: "Galano Grotesque Alt Medium";
  color: #db6400;
}
