:root {
  --background: rgba(255, 255, 255, 1);
  --card: rgba(237, 237, 237, 1);
  --primary: rgba(247, 247, 247, 0.9);
  --primary-foreground: rgba(240, 240, 240, 1);
  --secondary: rgba(127, 127, 127, 1);
  --secondary-foreground: rgba(237, 237, 237, 1);
}
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

@font-face {
  font-family: "Galano Grotesque Alt Medium";
  src: url("/fonts/GalanoGrotesqueAltMedium.woff");
}

@font-face {
  font-family: "Galano Grotesque Alt Light";
  src: url("/fonts/GalanoGrotesqueAltLight.otf");
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
