body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
  background-color: #fdfdfd;
}

@font-face {
  font-family: "Galano Grotesque Alt Medium";
  src: url("/fonts/GalanoGrotesqueAltMedium.woff");
}

.desktop-layout-grid {
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.desktop-layout-grid-row {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.desktop-layout-grid-column {
  padding-left: 0px !important;
  padding-bottom: 0px !important;
}
