.desktop-layout-grid {
  margin-left: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

.desktop-layout-grid-row {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.desktop-layout-grid-column {
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
}

.desktop-layout-search {
  position: fixed;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;

  /* UPDATED: Add padding to create breathing space from the sidebar */
  padding-left: 30px;
  padding-right: 30px;

  /* UPDATED: Ensure padding is included in the width calculation */
  box-sizing: border-box;

  /* 75% because sidebar is 25% of the width. */
  width: 75%;

  /* Use variables for Dark Mode */
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);

  box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
}
