.mobile-toolbar {
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: #ffffff;
  border-bottom: 1px solid #dadce0;
  padding: 0 8px;
}

.mobile-toolbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  height: 48px;
}

.mobile-toolbar-sidebar-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  min-width: 48px;
  height: 48px;
  color: #5f6368;
  cursor: pointer;
}

.mobile-toolbar-search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
